<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/footer-mobile.css">
    <link rel="stylesheet" href="css/footer-tablet.css">
    <link rel="stylesheet" href="css/footer-desktop.css">
    <link rel="stylesheet" href="css/main-mobile.css">
    <link rel="stylesheet" href="css/main-tablet.css">
    <link rel="stylesheet" href="css/main-desktop.css">
    <link rel="stylesheet" href="css/header-mobile.css">
    <link rel="stylesheet" href="css/header-tablet.css">
    <link rel="stylesheet" href="css/header-desktop.css">
    <link rel="stylesheet" href="css/register-mobile.css">
    <link rel="stylesheet" href="css/register-tablet.css">
    <link rel="stylesheet" href="css/register-desktop.css">
    <link rel="stylesheet" href="css/login-mobile.css">
    <link rel="stylesheet" href="css/login-tablet.css">
    <link rel="stylesheet" href="css/login-desktop.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header class="main-header">
        <section class="main-header-top-bar">
            <a href="/">
              <img src="./images/logo-mercado-liebre.svg" alt="" class="logo">
            </a>
            <form action="/" method="post">
            <fieldset class="buscador">
                <input type="text" placeholder="Buscar productos, marcas y más" class="inputSearch">
                <button type="submit">
                <i class="fa-solid fa-magnifying-glass lupa"></i>
                </button>
            </fieldset>
            </form>
            <div class="money">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
            </div>
        </section>
    <section>
    <nav class="burger-menu"><a href="/"><i class="fas fa-bars"></i></a>
    </nav>
    <nav class="navMain">
        <nav class="navbarLeft">
            <a href=""> Ofertas </a>
            <a href=""> Tiendas oficiales </a> 
            <a href=""> Vender </a> 
            <a href=""> Ayuda </a>
        </nav>
        <nav class="navbarRight">
            <a href="/register.html">Creá tu cuenta</a>
            <i class="fa-regular fa-address-card"></i>
            <a href="/login.html">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
            <a href="">Mis Compras</a>
            <i class="fa-solid fa-basket-shopping"></i>
        </nav>
    </nav>
    <section class="banner">
        <figure>
            <img src="./images/img-home-banner.jpg" alt="">
        </figure>
    </section>
    </header>
    <main>
        <form action="" method="post" class="registerForm">
            <fieldset class="inputContainerReg">
                <input type="text" name="nombre" placeholder="Nombre y apellido" class="inputRegister" required>
            </fieldset>
            <fieldset class="inputContainerReg">
                <input type="email" name="usuario" placeholder="Nombre de usuario" class="inputRegister" required>
            </fieldset>
            <fieldset class="inputContainerReg">
                <label>Fecha de nacimiento:</label>
                <input type="date" name="Nacimiento" value="2022-06-29" max="2004-06-07">                
            </fieldset>
            <fieldset class="inputContainerReg">
                <input type="text" name="Adress" placeholder="Domicilio" class="inputRegister">                
            </fieldset class="inputContainerReg">
            <fieldset class="inputContainerReg">
                <label class="tipoCuenta">Tipo de cuenta:
                    <input type="radio" name="perfil" value="Comprador">Comprador</input>
                    <input type="radio" name="perfil" value="Vendedor">Vendedor</input>
                </label>                
            </fieldset>
            <fieldset class="inputContainerReg">
                <label>Categorías:</label>
                <input type="checkbox">Electro
                <input type="checkbox">Moda
                <input type="checkbox">Hogar
                <input type="checkbox">Juguetería
                <input type="checkbox">Vida sana                
            </fieldset>
            <fieldset class="inputContainerReg">
                <label>Imagen de perfil:</label>
                <input type="file" name="photo" accept="jpg" multiple>                
            </fieldset>
            <fieldset class="inputContainerReg">
                <input type="password" name="contraseña" placeholder="Contraseña" required class="inputRegister">
            </fieldset>
            <fieldset class="inputContainerReg">
                <input type="password" name="confirmar contraseña" placeholder="Confirmar contraseña" required class="inputRegister">
            </fieldset>
            <fieldset class="formsBoton">
                <button type="submit" class="botonLogin">Registrarse</button>
                <button type="reset" class="botonLogin">Borrar</button>
            </fieldset>
        </form>
    </main>
    <footer>
        <div class="containerFooter">
        <section>
            <div><i class="fa-solid fa-credit-card icono"></i></div>
            <div><h4><b>Pagá con tarjeta o en efectivo</b></h4></div>
            <div><p>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p></div>
        </section>
        <section>
            <div><i class="fa-solid fa-gift icono"></i></div>
            <div><h4><b>Envío gratis desde $ 2.500</b></h4></div>
            <div><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p></div>
        </section>
        <section>   
            <div><i class="fa-solid fa-user-shield icono"></i></div>
            <div><h4><b>Seguridad, de principio a fin</b></h4></div>
            <div><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas 
                hacer, porque estás siempre protegid@.</p></div>    
        </section>
        </div>
        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>