@media (min-width: 769px) {

    .containerFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .copyright {
        padding: 20px;
        text-align: start;
    }
    
    .icono:hover {
        color: #051d43;
        transition: 0.5s
    }
    
    }