* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}       

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

img {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
    margin-right: 90px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.descripciones {
    display: none;
}

.camion {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.camion:hover {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transform: rotateZ(270deg);
}

main {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    background-color: #ebebeb;
}

.articleCaracteristicas {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
}

.preciosYDesc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

article {
    margin: 10px;
    background-color: white;
    padding: 10px;
}

article:hover {
    box-shadow: 0px 0px 10px #777;
}

main section {
    display: grid;
    grid-template-columns: 1fr;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.inputRegister {
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 2rem;
}

.inputContainerReg {
    padding: 0.7em 3em;
    width: 80vw;
    border: none;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.botonLogin:hover {
    background-color: #0022AA;
    transition: 0s;
}

.inputContainerLog {
    padding: 0.7em 3em;
    width: 80vw;
    border: none;
}

.inputLogin {
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 2rem;
}

.botonLogin {
    border: none;
    background-color: #0022AA;
    padding: 0.7em;
    border-radius: 5px;
    color: #FFF;
    margin: 1em;
}

.formsBoton {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none
}