@media (min-width: 480px) {

.descripciones {
display: block;
font-size: 16 px;
margin-top: 20px;
visibility: hidden;
}

.articuloCompleto:hover .articleCaracteristicas .descripciones {
    display: block;
    visibility: visible;
}

main section {
    grid-template-columns: 1fr 1fr;
}

}